# Dependencies
node_modules/
**/node_modules/
*.md
# Environment
.env
.env.local
**/.env

# Builds
dist/
build/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Electron
out/